.poke__div {
    margin-top: 9.5rem;
}

.pokedex__err {
    text-align: center;
    margin-top: 9.5rem;
}

.pokedex__err span {
    color: var(--color-4);
}

.poke__article {
    width: 330px;
    height: 100%;
    font-size: 1.2rem;
    margin: 0 auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.20);
}

.poke__header {
    aspect-ratio: 2;
    position: relative;
    background-color: currentColor;
}

.poke__img {
    position: absolute;
    width: 70%;
    bottom: -3.5em;
    left: 15%;
}

.poke__number{
    width: 69px;
    position: relative;
    left: 45%;
    text-align: center;
    border: 1px solid #ccc;
    color: currentColor;
}
.poke__body {
    padding-top: 3.5em;
}

.poke__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
}

.poke__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 0.3em;
}
.poke__info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke__type {
    text-align: center;
}

.poke__type-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.6em 5.5rem;
}

.poke__type-abi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--color-3);
    margin: 0.6em 5.5rem;
}

.poke__movement {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.poke__name-stats {
    padding: 0.5em 1em;
}

.poke__container-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1.2em;
}

.poke__container-name {
    font-weight: 600;
}

.poke__barra {
    width: 350px;
    height: 12px;
    background: rgba(223, 217, 217, 0.5);
    border-radius: 10px;
}

.poke__progreso {
    width: 100%;
    height: 12px;
    background: linear-gradient(0deg, rgba(255,154,6,1) 0%, rgb(245, 130, 15) 100%);
    border-radius: 10px;
}

.poke__footer {
    width: 330px;
    height: 100%;
    font-size: 1.2rem;
    margin: 2.5rem auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.20);
}

.poke__movement-titile {
    padding: 1em;
}

.poke__movement {
    padding: 1rem;
}

.poke__movement-item {
    text-transform: capitalize;
    padding: 0.5rem;
    border-radius: 0.5em;
    background-color: #E5E5E5;
}

.fire {
    color: rgb(203, 155, 38);
}
.bg-fire {
    background-image: linear-gradient(0deg, rgba(248,157,13,1) 0%, rgba(196,84,21,1) 100%);
}
.water {
    color: rgb(53, 131, 233);
}
.bg-water {
    background-image: linear-gradient(0deg, rgba(13,248,243,1) 0%, rgba(7,160,139,1) 100%);;
}
.bug {
    color: #88CA77;
}
.bg-bug {
    background-image: linear-gradient(0deg, rgba(146,248,13,1) 0%, rgba(111,159,16,1) 100%);;
}
.grass {
    color: rgb(93, 171, 62);;
}
.bg-grass {
    background-image: linear-gradient(0deg, rgba(88,255,75,1) 8%, rgba(17,122,82,1) 100%);
}
.normal {
    color: #8E5D68;
}
.bg-normal {
    background-image: linear-gradient(0deg, rgba(142,93,104,1) 0%, rgba(159,16,66,1) 100%);;
}
.electric {
    color: rgb(241, 138, 19);
}
.bg-electric {
    background-image: linear-gradient(0deg, rgba(212,149,57,1) 0%, rgba(190,101,14,1) 100%);
}
.fighting {
    color: #C24E31;
}
.bg-fighting {
    background-image: linear-gradient(0deg, rgba(194,78,49,1) 0%, rgba(219,116,15,1) 100%);;
}
.rock {
    color: #989899;
}
.bg-rock {
    background-image: linear-gradient(0deg, rgba(152,152,153,1) 0%, rgba(108,117,159,1) 100%);;
}
.poison {
    color: #9665C5;
}
.bg-poison {
    background-image: linear-gradient(0deg, rgba(150,101,197,1) 0%, rgba(130,43,168,1) 100%);;
}
.ghost {
    color: #474CA5;
}
.bg-ghost {
    background-image: linear-gradient(0deg, rgba(71,76,165,1) 0%, rgba(11,19,132,1) 100%);;
}
.dragon {
    color: #6BB1BA;
}
.bg-dragon {
    background-image: linear-gradient(0deg, rgba(107,177,186,1) 0%, rgba(12,159,134,1) 100%);;
}
.ground {
    color: #3036aa;
}
.bg-ground {
    background-image: linear-gradient(0deg, rgba(48,54,170,1) 0%, rgba(12,33,159,1) 100%);;
}
.steel {
    color: #962a0f;
}
.bg-steel {
    background-image: linear-gradient(0deg, rgba(150,42,15,1) 0%, rgba(228,104,19,1) 100%);;
}
.psychic {
    color: #d19d10;
}
.bg-psychic {
    background-image: linear-gradient(0deg, rgba(209,157,16,1) 0%, rgba(167,93,12,1) 100%);;
}
.ice {
    color: #07d291;
}
.bg-ice {
    background-image: linear-gradient(0deg, rgba(7,210,145,1) 0%, rgba(5,140,85,1) 100%);
}
.dark {
    color: #9a9279;
}
.bg-dark {
    background-image: linear-gradient(0deg, rgba(154,146,121,1) 0%, rgba(86,94,91,1) 100%);
}
.fairy {
    color: #5e3840;
}
.bg-fairy {
    background-image: linear-gradient(0deg, rgba(94,56,64,1) 0%, rgba(145,52,75,1) 100%);
}
.flying {
    color: #5e3840;
}
.bg-flying {
    background-image: linear-gradient(0deg, rgba(214,11,204,1) 0%, rgba(113,6,95,1) 100%);;
}
@media (min-width: 700px) {
    .poke__article {
       width: 620px;
    }
    .poke__header {
        aspect-ratio: 3;
    }
    .poke__img {
        position: absolute;
        width: 40%;
        bottom: -3.5em;
        left: 30%;
    }
    .poke__type-a   {
        margin: 0.6em 14rem;
    }
    .poke__type-abi {
        margin: 0.6em 14rem;
    }
    .poke__barra {
        width: 550px;
        height: 14px;
    }
    .poke__footer {
        width: 620px;
    } 
}